<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <environments default="dev">-->
    <environments default="dev">
        <!-- environments태그 안에 environment태그를 여러개 사용할 수 있다.  -->
<!--        <environment id="development">-->
        <environment id="dev">
            <!-- type : JDBC(수동 커밋) 또는 MANAGED(자동 커밋) 선택 -->
            <transactionManager type="JDBC"/>
            <!-- type : POOLED(커넥션풀 사용) 또는 UnPOOLED(커넥션풀 미사용) 선택 -->
            <dataSource type="POOLED">
                <!-- <property name="driver" value="${driver}"/>-->
                <!-- <property name="url" value="${url}"/>-->
                <!-- <property name="username" value="${username}"/>-->
                <!-- <property name="password" value="${password}"/>-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/menudb"/>
                <property name="username" value="ohgiraffers"/>
                <property name="password" value="ohgiraffers"/>
            </dataSource>
        </environment>
    </environments>
    <!--  -->
    <mappers>
        <mapper resource="com/ohgiraffers/section01/xmlconfig/menu-mapper.xml"/>
    </mappers>
</configuration>